
@font-face {
  font-family: 'iconfont'; /* Project id 3592685 */
  src: url('//at.alicdn.com/t/c/font_3592685_uxmifh8f388.woff2?t=1676814397924')
      format('woff2'),
    url('//at.alicdn.com/t/c/font_3592685_uxmifh8f388.woff?t=1676814397924')
      format('woff'),
    url('//at.alicdn.com/t/c/font_3592685_uxmifh8f388.ttf?t=1676814397924')
      format('truetype');
}
.app-icon {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
