// 右击菜单样式
@include b(content-menu) {
  position: fixed;
  left: 300px;
  top: 200px;
  z-index: 99999;
  width: 270px;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  ul {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    &:last-child {
      border: none;
    }
  }
  @include e(item) {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 40px;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.25s ease 0s;
    &:hover {
      background-color: #ccc;
    }
    &:last-child {
      border: none;
    }
    .value {
      color: #999;
    }
    @include when(disabled) {
      cursor: no-drop;
      color: rgba(255, 255, 255, 0.4);
      &:hover {
        color: rgba(255, 255, 255, 0.4);
        background-color: #666;
      }
    }
    @include when(border) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }
  }
}
